{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": ":**/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "warnOnUnassignedImports": true
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreDeclarationSort": true
      }
    ]
  }
}
