body {
  font-family: Open Sans Condensed;
}

.app {
  padding: 20px 40px;
  height: 100vh;

  a {
    text-decoration: none;
    color: black;
  }

  @media (prefers-color-scheme: dark) {
    background: #333;
    color: white;

    a {
      color: white;
    }
  }
}

* {
  box-sizing: border-box;
}
